doctype html
html(lang='en')
    head
        title Bedrock | Error
        link(rel='stylesheet', href='/css/prototype.css')

body(class="br-error-container")
    .br-error
        .br-error-header= error.type
        pre.br-error-content= error.message

